<h1>User's dashboard</h1>
<div class="well">
  <div class="row">
    <div class="col-lg-12">
      <%= form_tag invite_user_path, method: :post, id: 'invite-user-form' do %>
        <p><%= label_tag :email %><br />
        <%= email_field_tag :email, nil, :required => true, placeholder: "Enter your friend's email.", class: "form-control" %></p>
        <%= submit_tag("Send Invite", :class => 'btn btn-primary') %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= link_to "Add a new book", new_book_path, class: "btn btn-primary btn-lg" %>
    </div>
    <div class="col-lg-6">
      <h4>
        Add a new book to Shopify's Bookstore.
      </h4>
    </div>
    <div class="col-lg-12">
      You are currently reading:
      <%= render 'books/currentlyReadingList', :obj => @user.books_readings %>

    </div>
    <div class="col-lg-12">
      <h4>Books added by you</h4>
      <%= render 'books/list', :obj => @books %>
    </div>
    <div class="col-lg-12">
      <h4>Books you have completed reading.</h4>
      <%= render 'books/readList', :obj => @user.books_reads %>
    </div>
    <div class="col-lg-12">
      <h4>Books you wish to read</h4>
      <%= render 'books/wishlist', :obj => @user.books_wishlists %>
    </div>
    <div class="col-lg-12">
      <%= link_to "DELETE ACCOUNT",
      delete_my_account_path,
       :data => { :confirm => "Are you sure?"},
       class: "btn btn-danger btn-lg" %>
    </div>
  </div>
</div>
