<% content_for :head do %>
  <title>User's Dashboard</title>
  <%= stylesheet_link_tag 'dashboard', media: 'all' %>
<% end %>

<div class="dashboard">
  <h2 class="dashboard__heading">Welcome to your dashboard.</h2>
  <div class="row">
    <div class="col-lg-6">
      <%= render 'shared/inviteForm' %>
    </div>
    <div class="col-lg-6">
      <div class="dashboard__addnewbookcontainer custom-well">
        <%= link_to "Add a new book to Shopify Bookstore", new_book_path, class: "btn btn-success btn-lg dashboard__addnewbookcontainer__btn" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% if @books[0] %>
        <div class="custom-well">
          <h5 class="table__heading">Your Bookshelf:</h5>
          <%= render 'books/list', :obj => @books %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-12">
      <% if @user.books_readings[0] %>
        <div class="custom-well">
          <%= render 'books/currentlyReadingList', :obj => @user.books_readings %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-12">
      <% if @user.books_reads[0] %>
        <div class="custom-well">
          <%= render 'books/readList', :obj => @user.books_reads %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-12">
      <% if @user.books_wishlists[0] %>
        <div class="custom-well">
          <%= render 'books/wishlist', :obj => @user.books_wishlists %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-12">
      <% if @userRecommendations.any? %>
        <div class="custom-well">
          <%= render 'recommendationslist', :obj => @userRecommendations %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-12 custom-well text-center">
        <div class="col-lg-6">
          <%= link_to "EDIT PROFILE",
          edit_user_registration_path,
           class: "btn btn-warning btn-lg" %>
        </div>
        <div class="col-lg-6">
          <h4 class="text-warning">Edit your profile details.</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-12 custom-well text-center">
        <div class="col-lg-6">
          <%= link_to "DELETE ACCOUNT",
          delete_my_account_path,
           :data => { :confirm => "Are you sure? We are sad to see you go :("},
           class: "btn btn-danger btn-lg" %>
        </div>
        <div class="col-lg-6">
          <h4 class="text-danger">This action cannot be undone.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
