<% content_for :head do %>
  <%= stylesheet_link_tag "allUsers", :media => "all" %>
<% end %>
<div align="center">
    <%= will_paginate @users, :previous_label => "&#8592", :next_label => "&#8594" %>
</div>
<div class="container">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-sm-6 col-lg-4 text-center" data-userid="<%= user.id %>">
      <div class="custom-well">
        <%= image_tag("https://www.gravatar.com/avatar/#{user.gravitarhash}?d=retro") %>
        <div class="caption">
          <h3><%= user.name %></h3>
            <% if !user.books_readings.empty? %>
              <p class='text-italic'>
                Currently reading:
                <span class='text-bold'><%= user.books_readings.map{|book| book.title}.join(",") %></span>
              </p>
            <% else %>
              <p class='text-italic'>
                 Books on WishList: <span class='text-bold'><%= user.books_wishlists.count %></span>
              </p>
            <% end %>

          <p class='text-italic'>
             Number of book(s) read: <span class='text-bold'><%= user.books_reads.count %></span>
          </p>

          <p class='text-italic'>
             Number of book(s) contributed to Shopify Bookshelf: <span class='text-bold'><%= user.books.count %></span>
          </p>
          <p class='text-italic'>
            <%= link_to 'VIEW PROFILE', user_path(user), :class => 'btn btn-primary' %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div align="center">
    <%= will_paginate @users, :previous_label => "&#8592", :next_label => "&#8594" %>
</div>
