<% content_for :head do %>
  <%= stylesheet_link_tag "user_profile", :media => "all" %>
<% end %>

<div class="custom-well">
  <div class="row">
    <div class="col-lg-1">
      <%= image_tag("https://www.gravatar.com/avatar/#{@user.gravitarhash}?d=retro") %>
    </div>
    <div class="col-lg-11">
      <h5 class="userprofile-headings">Name:</h5><span class="userprofile-span"><%= @user.name %></span><br />
      <h5 class="userprofile-headings">Email:</h5><span class="userprofile-span"><a href="mailto:<%= @user.email %>?Subject=Hello!" target="_blank"><%= @user.email %></a></span><br />
      <% if !@user.books_readings.empty? %>
        <h5 class="userprofile-headings">Currently Reading:</h5><span class="userprofile-span"><%= @user.books_readings.map{|book| book.title}.join(",") %></span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% if @user.books_reads[0] %>
        <h5 class="table__heading">Books finished reading:</h5>
        <%= render 'books/list', :obj => @user.books_reads %>
      <% end %>
    </div>
    <div class="col-lg-12">
      <% if @user.books_wishlists[0] %>
        <h5 class="table__heading">Books in WishList:</h5>
        <%= render 'books/list', :obj => @user.books_wishlists %>
      <% end %>
    </div>
    <div class="col-lg-12">
      <% if @user.books[0] %>
        <h5 class="table__heading">Books added:</h5>
        <%= render 'books/list', :obj => @user.books %>
      <% end %>
    </div>
  </div>
</div>
