<%= render 'shared/errors', obj: @book %>

<%= form_for @book, :html => { :class => "form-horizontal book", role: "form" } do |f| %>

  <div class="form-group form-group-isbn">
    <%= label_tag 'ISBN', nil, :class => 'isbn-label control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= number_field_tag 'ISBN (optional)', nil, :class => 'form-control query-isbn', placeholder: "Search by ISBN"%>
    </div>
  </div>
  <div class="form-group form-group-title">
    <%= label_tag 'Title', nil, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= text_field_tag 'Title', nil, :class => 'form-control query-title', placeholder: "Search by title", autofocus: true %>
    </div>
  </div>

  <%= f.hidden_field :isbn, bind: "isbn" %>
  <%= f.hidden_field :title, bind: "title" %>
  <%= f.hidden_field :googleid, bind: "id" %>
  <%= f.hidden_field :category, bind: "categories" %>
  <%= f.hidden_field :apiLink, bind: "selfLink" %>

  <%= f.hidden_field :publisher, bind: "publisher" %>
  <%= f.hidden_field :publishedDate, bind: "publishedDate" %>
  <%= f.hidden_field :author, bind: "authors" %>
  <%= f.hidden_field :averageRating, bind: "avgRating" %>
  <%= f.hidden_field :ratingsCount, bind: "totalRatings" %>
  <%= f.hidden_field :description, bind: "description" %>
  <%= f.hidden_field :imageurl, bind: "imageurl" %>

  <%= render :partial => 'bookResults' %>

  <div class="form-group form-group-location">
    <%= label_tag 'Where can Shopifolks find this book?', nil, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :location, class: 'form-control', required: true, placeholder: "Example. 9th Floor - User Experience Pod or 8th Floor Bookshelf" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Add Book', :class => 'btn submit-btn', disabled: true %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn btn-cancel' %>
    </div>
  </div>
<% end %>
