<% content_for :head do %>
  <%= stylesheet_link_tag "books", :media => "all" %>
<% end %>

<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to 'Add a book',
              new_book_path,
              :class => 'btn btn-success' %>
</div>
<div class="row">
  <div class="col-lg-12">
    <h2>Form</h2>
    <%= form_tag books_path,  method: :get, id: 'filter-books-form' do |form| %>
      <div class="form-group">
        <%= label_tag :title, nil, :class => 'control-label col-lg-2' %>
        <%= text_field_tag :title, params[:title], :class => 'form-control query-title', placeholder: "Search by title" %>
      </div>
      <div class="radio">
        <label>
          <%= radio_button_tag "category", "All", (params[:category] == "All" || params[:category] == nil) %>
           <%= "All" %>
        </label>
        <% @categories.each do |category| %>
            <label>
              <%= radio_button_tag "category", "#{category}", (params[:category] == category) %>
               <%= category %>
            </label>
          <% end %>
      </div>
      <div class="form-group">
        <%= link_to 'View all', books_path, :class => 'btn btn-default' %>
        <%= submit_tag("Filter", :class => 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div align="center">
      <%= will_paginate %>
  </div>
  <% @books.each do |book, index| %>
    <div id="book-<%= book.id %>" class="well" data-googleLink="<%= book.apiLink %>">
      <p>ISBN</p>
      <%= book.isbn %>
      <p>Category</p>
      <%= book.category %>
      <p>Google ID</p>
      <%= book.googleid %>
      <p>Title</p>
      <%= book.title %>
      <p>Image</p>
      <span class="book-<%= book.id %>__image"></span>
      <p>Google link</p>
      <span class="book-<%= book.id %>__link"></span>
      <p>Description</p>
      <span class="book-<%= book.id %>__description"></span>
      <p>Added by</p>
      <span class="book-<%= book.id %>__addedby"><%= book.user.name %></span>
      <p>Other Info</p>
      <p class="book-<%= book.id %>__authors"></p>
      <p class="book-<%= book.id %>__publishedDate"></p>
      <p class="book-<%= book.id %>__publisher"></p>
      <h4>
        <span class="book-<%= book.id %>__avgRating"></span>
      </h4>
      <span class="book-<%= book.id %>__totalRatings"></span>
      <% if current_user %>
        <div class="book-<%= book.id %>__dropdown dropdown">
          <button class="btn btn-primary dropdown-toggle add-book-to-list-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Add to list
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu add-book-to-list-dropdown" aria-labelledby="add-book-to-list-dropdown" data-bookid="<%= book.id %>">
            <li class="<%= 'disabled' if @userReadingList.include?(book.id) or @userWishList.include?(book.id) %> <%= 'disabled bg-success' if @userReadList.include?(book.id) %>"><%= link_to 'Read', add_to_read_path, class: 'add-to-read' %></li>
            <li class="<%= 'disabled' if @userReadList.include?(book.id) or @userWishList.include?(book.id) %> <%= 'disabled bg-success' if @userReadingList.include?(book.id) %>"><%= link_to 'Currently Reading', add_to_currently_reading_path, class: 'add-to-currently-reading' %></li>
            <li class="<%= 'disabled' if @userReadingList.include?(book.id) or @userReadList.include?(book.id) %> <%= 'disabled bg-success' if @userWishList.include?(book.id) %>"><%= link_to 'Want to Read', add_to_wish_list_path, class: 'add-to-wish-list' %></li>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
  <div align="center">
      <%= will_paginate %>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'books' %>
<% end %>
