<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to 'Add a book',
              new_book_path,
              :class => 'btn btn-primary' %>
</div>
<div align="center">
    <%= will_paginate %>
</div>
<% @books.each do |book, index| %>
  <div id="book-<%= book.id %>" class="well" data-googleLink="<%= book.apiLink %>">
    <p>ISBN</p>
    <%= book.isbn %>
    <p>Category</p>
    <%= book.category %>
    <p>Google ID</p>
    <%= book.googleid %>
    <p>Title</p>
    <%= book.title %>
    <p>Image</p>
    <span class="book-<%= book.id %>__image"></span>
    <p>Google link</p>
    <span class="book-<%= book.id %>__link"></span>
    <p>Description</p>
    <span class="book-<%= book.id %>__description"></span>
    <p>Description</p>
    <span class="book-<%= book.id %>__description"></span>
    <p class="book-<%= book.id %>__authors"></p>
    <p class="book-<%= book.id %>__publishedDate"></p>
    <p class="book-<%= book.id %>__publisher"></p>
    <h4>
      <span class="book-<%= book.id %>__avgRating"></span>
    </h4>
    <span class="book-<%= book.id %>__totalRatings"></span>
  </div>
<% end %>
<div align="center">
    <%= will_paginate %>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag 'books' %>
<% end %>
