<%- model_class = Book -%>

<% content_for :head do %>
  <%= stylesheet_link_tag "books", :media => "all" %>
<% end %>

<div id="book" class="custom-well show-book-container">
  <div class="row">
    <div class="col-lg-12">
      <div class="notifications-<%= @book.id %>">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <a href=<%= "http://books.google.ca/books?id=#{@book.googleid}" %> target="_blank" class="book__linktag">
        <h3 class="book__title"><%= @book.title %></h3>
        <% if @book.recommendation.any? %>
          <span class="label label-default recommended-label"><i class="fa fa-star" aria-hidden="true"></i> Recommended</span>
        <% end %>
      </a>
    </div>
    <div class="col-lg-3">
      <% if !@book.recommendation.map{|elem| elem.user_id}.include?(current_user.id) %>
      <button type="button" class="btn btn-success btn-small btn-recommendation book-<%= @book.id %>__addRecommendation" data-bookid="<%= @book.id %>" data-target="#modal">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Add a recommendation
      </button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <% if @book.imageurl and @book.imageurl != "" %>
        <%= image_tag @book.imageurl , class: "book__image", width: "150" %>
      <% else %>
        <%= image_tag 'no_cover_thumb.gif' , class: "book__image", width: "150" %>
      <% end %>
    </div>
    <div class="col-lg-10 book-info">
      <h5>Publisher: <span class="book__publisher"><%= @book.publisher %></span></h5>
      <h5>Published Date: <span class="book__publishedDate"><%= @book.publishedDate %></span></h5>
      <h5>Category: <span><%= @book.category %></span></h5>
      <h5>Written by: <span class="book__authors"><%= @book.author %></span></h5>
      <h5>ISBN: <span><%= @book.isbn %></span></h5>
      <h5>Location: <span><%= @book.location %></span></h5>
      <h5>Average Rating (from <span class="book__totalRatings"><%= @book.ratingsCount %></span> ratings): <span class="book__avgRating"><%= @book.averageRating %></span><h5>
      <%= link_to "Update Location", edit_book_path(@book), class: "btn btn-sm btn-default" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="book__description"><%= @book.description ? @book.description.html_safe : "" %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h5 class="">Added by: <a href="/users/<%= @book.user.id %>"><span class="book__addedby"><%= @book.user.name %></span></a></h5>
    </div>
  </div>

  <% if @book.recommendation.any? %>
    <div class="row">
      <div class="col-lg-12">
        <h4>Recommendations:</h4>
        <ul class="list-group">
          <% @book.recommendation.order('id DESC').each do |post| %>
          <li class="list-group-item">
            <p class="recommendation__text">
              "<%= post.user_recommendation %>"
            </p>
            <% @owner = User.find(post.user_id) %>
            <h5 class="recommendation__user">- <%= link_to @owner.name, user_path(post.user_id) %> - <%= @owner.position %> </h5>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12">
      <% if current_user == @book.user %>
        <%= link_to t('.back', :default => t("helpers.links.back")),
                      books_path, :class => 'btn btn-default'  %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      book_path(@book),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'recommendationmodal' %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'showBook' %>
<% end %>
