<%= form_for @story do |f| %>
  <%= render 'shared/errors', obj: @story %>

    <%= f.hidden_field :title, class: 'hidden-title', value: 'Quote'  %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', required: true, cols: 3 %>
  </div>

  <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>
