<% content_for :head do %>
  <title><%= @story.title %></title>
<% end %>


<h1><a href="https://www.google.com/search?tbm=bks&q=<%= @story.title %>" target="_blank"><%= @story.title %></a></h1>
<p>
  <%= @story.body %>
</p>
<p>
  <span class="label label-default"><%= pluralize(@story.likes, 'like') %></span>
  <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-thumbs-up') + ' Like it',
               like_story_path(@story), class: 'btn btn-default btn-sm', method: :post %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_story_path(@story), class: 'btn btn-info' %>
  <%= link_to 'Delete', story_path(@story), data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger' %>
</div>

<% content_for :scripts do %>
<% end %>
